.page__footer {
	border-top: 2px solid #a1a1a1;
	max-width: var(--pageWidth);
	text-align: left;
	padding-top: 0.5rem;
	font-size: 0.8em;line-height: normal;
}

.logos img, spip_logos {vertical-align: middle;}
