body {
	overflow-x: hidden;
}

.heading-e{
	text-transform: none;
}

.page__footer {
	border-top: 2px solid #a1a1a1;
	max-width: var(--pageWidth);
	text-align: left;
	padding-top: 0.5rem;
	font-size: 0.8em;line-height: normal;
}

.logos img, .spip_logos {vertical-align: middle;}

.liste-items .item {
	border-bottom: none;
}

.liste-items .item:hover {
	background-color: transparent;
}

p.publication {display: inline-block;}

.hide, .spip_doc .icon-calendar {display:none;}