table {
	// border:				1px solid black;
	border-collapse:	collapse;
	width:				100%;
	// margin-bottom:		var(--margin--s);
	@extend				%max-width;
}

thead,
tfoot {
	// background-color:	lighten($grey, 25%);
	// text-align:			left;
}

th {
	font-size:			#{u($s, em)};
	font-weight:		$ultrabold;
	text-align:			left;
	// text-transform:		uppercase;
}

th, td {
	// text-align:			center;
	// border:				1px solid $black;
	padding:			calc( var(--margin--s) / 2);
}

td, th {
	border-bottom:	1px solid $black;
}

tbody tr {
	&:nth-child(odd) td {
		// background-color:	lighten($grey, 43%);
	}
}

tfoot {
	td {

	}
}