.related-projects {
	width:				100vw;
	// border-top:			1px solid $grey;
	// border-bottom:		1px solid $grey;
	align-self:			center;
	padding:			0.5rem 1rem;

	&:last-child {
		padding-bottom:	var(--margin--l);
	}

	> div {
		display:		grid;
		// grid-template-columns:	repeat(2, minmax(0, auto));
		grid-gap:		0.25em;
	}

	.card__image {
		width:			3em;
	}

	.card--article {
		grid-template-columns:	3em 1fr;
	}
}

.project-grid {
	@include mq(min-width, 768px) {
		grid-template-columns:	auto;
	}
}