section {
	width:				100%;
}

.section {
	width:				100%;
	display:			flex;
	flex-direction:		column;
	align-items:		center;
	max-width:			var(--pageWidth);

	@include mq(min-width, 768px) {

	}

	&--featured {
		width:			100%;
		align-items:	center;
		display:		flex;
		flex-direction:	column;
	}

	&--solid {
		padding:			var(--margin--s);
	}
}

.section--type-a {
	.section__cover {
		border-radius:		0.5rem 0 0 0.5rem;
		background-color:	$orange-20;
	}

	.section__info {
		background-color:	$orange-40;
	}
}

.section--type-b {
	.section__cover {
		background-color:	#F3CE8F;
	}

	.section__info {
		background-color:	darken(saturate(#F3CE8F, 15%), 10%);
	}	
}

.section--type-c {
	.section__cover {
		border-radius:		0 0.5rem 0.5rem 0;
		background-color:	#abe9c8;
	}

	.section__info {
		background-color:	darken(#abe9c8, 15%);
	}
}

.section--testimonial {
	padding:			0 var(--page-margin--horizontal);
	width:				100vw;
	align-self:			center;
}

.sect-reg-wrp {

}

.sect-reg,
.formulaire_reservation {
	justify-self:		center;
	// grid-area:			registration;
	@extend				.equipment-info;
	align-self:			flex-start;

	@include mq(min-width, 768px) {
		margin-top:		0 !important;
		margin-bottom:	0 !important;
		grid-column:	1 / span 1;
		grid-row:		1 / 2;
	}

	.heading-e {
		width:			calc( 100% + 1rem );
	}
}

.section--splash {
	width:					var(--pageWidth);
	max-width:				initial;
	padding:				0 var(--page-margin--horizontal);
	// margin-top:				calc( var(--page-margin--vertical) * -1);

	p {
		text-align:			center;
		letter-spacing:		-0.25px;
		font-feature-settings: 		
									'calt' 1, 
									'onum' 1, 
									'dlig' 1, 
									'liga' 1, 
									'clig' 1, 
									'salt' 1;
	}
}

.section__title {
	grid-column-start:		1;
	grid-column-end:		3;
}

.section__cover-img {
	height:				100%;
	width:				100%;
	max-width:			initial;
	opacity:			$opacity--high;
	mix-blend-mode:		overlay;
	filter:				saturate(0);
}

.section__cover {
	position:			relative;
	max-width:				var(--pageWidth);
	width:				100%;
	overflow:			hidden;

	$lock: (property:	height,
		minValue:	240,
		maxValue:	480,
		minViewport:320,
		maxViewport:1236
	);

	@include lock($lock);

	.btn {
	    display: flex;
	    align-items:	center;
	    justify-content:	center;
		width: 2.25rem;
		height: 2.25rem;
		top: var(--margin--m);
		right: var(--margin--m);
		left:	initial;
		border-radius: 50%;
		box-shadow:		0 0 0 2px $white;
		z-index:		z(9);

		.is-closed &,
		.is-hidden & {
			display:	none;
		}
	}

	.card__grid & {
		@include mq(min-width, 768px) {
			width:			100%;
			margin-left:	0;
			margin-top:		0;
		}
	}
}

.section__info {
	z-index:			z(2);
	background-color:	color($orange-a, $opacity--high);
	color:				$white;
	width:				100%;
	position:			absolute;
	bottom:				0;
	padding:			var(--margin--m) var(--page-margin--horizontal);

	@include mq(min-width, 768px) {
		padding:		var(--margin--m);
	}

	.card__grid.is-open & {
		@include mq(min-width, 768px) {

		}
	}
}

.section__title {
	text-shadow:		0 1px color($black, $opacity--low);
}

.section__description {
	font-weight:		$semibold;
	line-height:		1;
	text-shadow:		0 1px color($black, $opacity--low);
}

.section.grid--col--2-1.optional {
	@include mq(min-width, 720px) {
		width:						var(--pageWidth);
		padding:					0 calc( var(--page-margin--horizontal) / 2);
		grid-template-columns:		2fr 1fr;
		display:					grid;
		align-items:				start;
		grid-gap:					var(--margin--m);
	}

	.section:not([class^="mrgn-"]):not([class*=" mrgn-"]) + * {
		margin-top:				0;
	}
}

.section--workshops {
	@include mq(min-width, 768px) {
		display:				grid;
		grid-template-columns: 	repeat(3, auto);
	}
}