.btn {
	--button-padding--h:		#{u($m / 2, rem)};
	--button-padding--v:		#{u($m / 4, rem)};
	padding:			var(--button-padding--v) var(--button-padding--h);
	
	font-family:		$textType;
	font-size:			var( --fontSize );
	font-weight:		$bold;
	--line-height:		#{$m};
	line-height:		var( --line-height );
	white-space:		nowrap;
	text-decoration: 	none;
	
	--button-bg:		#{$orange-60};
	background-color:	var( --button-bg );
	color:				var( --button-color, $white );

	border-radius:		var(--border-radius--small, 0.25rem);
	cursor:				pointer;

	@extend				.flx;
	@extend				.f-act;
	@extend				.f-jct;

	&--square,
	&--circle,
	&--1-1 {
		--line-height:	#{$xl};
		--fontSize:		#{u($s, em)};
		padding:		0;
		width:	calc( var(--line-height) * 1em);
		height:	calc( var(--line-height) * 1em);
	}

	&--square {

	}

	&--circle {
		border-radius:		calc( var(--line-height) * 0.5em );
	}

	&--sharp {
		border-radius:		0;
	}

	&--solid {
		background-color:	var(--button-bg);
	}

	&--outline,
	&--transparent {
		background-color:	transparent;
		color:				var(--button-bg);
	}

	&--outline {
		box-shadow: 		inset 0 0 0 2px var(--button-bg);
	}

	&--transparent {
		--button-padding--h:	0;
		--button-padding--v:	0;
		// stuff
	}

	&--dark {
		--button-bg:				#{$grey-80};
		--button-color:				#{$grey-20};

		&.btn--outline {
			--button-color:			#{$grey-80};
		}
	}

	&--light {
		--button-bg:				#{$grey-40};	
		--button-color:				#{$grey-100};

		&.btn--outline {
			--button-color:			#{$grey-40};
		}
	}

	&--highlight {
		--button-bg:				#{$green-60};	
		color:						#{$white};

		&.btn--outline {
			--button-color:			#{$green-60};
		}
	}

	&.is-inactive {
		--button-bg:		#{$grey-20};
		color:				#{$grey-40};
		cursor: 			initial;
		pointer-events:		none;

		&.btn--outline {
			color:			#{$grey-20};
		}
	}

	&--small {
		--fontSize:			#{u($s, em)};
	}

	&--large {
		--line-height: 		#{$l};
	}

	&.fas:empty,
	&.far:empty {
		@extend				.btn--1-1;
		@extend				.flx;
		@extend				.f-act;
		@extend				.f-jct;
	}

	&--incr {
		width:		1.5em;
		height:		1.5em;
		flex-shrink:	0;
		padding:	0;
		text-align:	center;
		line-height:	1.5;
		border:			initial;

		&:first-child {
			border-radius:	1.5rem 0 0 1.5rem;
			padding:	0 0.5rem 0 0;
		}

		&:last-child {
			padding:	0 0 0 0.5rem;
			border-radius:	0 1.5rem 1.5rem 0;
		}
	}
}

.btn .fas + *,
.btn .far + * {
	margin-left:		0.25rem;
}

button {

	@extend					.btn;
}

input[type='button'] {

	@extend					.btn;
}

.btn__label {
	.btn__group & {
		font-size:			u($s, em);
	}
}

.btn__group {

	display:				flex;
}
