// Modular scaling
	$modular__scale:	1.5;
	$modular__base:		1;

	$xxs:				round( pow($modular__scale, -3) * 10000 ) / 10000;
	$xs:				round( pow($modular__scale, -2) * 10000 ) / 10000;
	$s:					round( pow($modular__scale, -1) * 10000 ) / 10000;
	$m:					round( pow($modular__scale, 0) * 10000 ) / 10000;
	$l:					round( pow($modular__scale, 1) * 10000 ) / 10000;
	$xl:				round( pow($modular__scale, 2) * 10000 ) / 10000;
	$xxl:				round( pow($modular__scale, 3) * 10000 ) / 10000;
	$uxl:				round( pow($modular__scale, 4) * 10000 ) / 10000;

// Type
	// Font families
		$textType:					
			'mr-eaves-xl-modern',
			'Helvetica-Neue', 
			Helvetica, 
			sans-serif;

		$displayType:				
			'Amatic SC', cursive;

		$monoType:
			'fira-mono', monospace;

	// Font weights
		$ultralight:			100;
		$light:					300;
		$medium:				400;
		$semibold:				600;
		$bold:					800;
		$ultrabold:				900;
	
// Transitions & Animation

	// Timing functions
		$linear:				linear;
		
		$step-start:			step-start;
		$step-end:				step-end;
		
		$ease-smooth:			cubic-bezier(.69,-0.01,0,1);			
		$ease-quad:				cubic-bezier(0.455, 0.03, 0.515, 0.955);
		
		$ease-in:				cubic-bezier(0.6, 0.04, 0.98, 0.335);	
		$ease-out:				cubic-bezier(0.075, 0.82, 0.165, 1);	
		
		$bounce-in:				cubic-bezier(.31,0,0,1);
		$bounce:				cubic-bezier(0.680, 0.110, 0.000, 1.225);
		$bounce-soft:			cubic-bezier(.06,1.39,.29,.99);

	// Durations
		$instant:				0s;
		$x-fast:				0.15s;
		$fast:					0.4s;
		$slow:					2s;
		$x-slow:				3s;
		$xx-slow:				2.25s;
		$uxx-slow:				5.0625s;

// Layering	
	$z-index: (
		-6:	-600,
		-5:	-500,
		-4:	-400,
		-3:	-300,
		-2:	-200,
		-1:	-100,
		0:	0,
		1:	100,
		2:	200,
		3:	300,
		4:	400,
		5:	500,
		6:	600,
		7:	700,
		8:	800,
		9:	900
	);

// Properties
	$bg:	background;
	$bgc:	background-color;
	$bgi:	background-image;

// Transformations
	$transform--center-vh:		translate(-50%, -50%);
	$transform--center-v:		translateX(-50%);
	$transform--center-h:		translateY(-50%);
